<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">前端开发<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    MLP
                </div> 
            </li> 
            <li ui-sref-active="active">
                <a ui-sref="creditinfobundles.list"><i class="fa fa-laptop"></i> <span class="nav-label">业务追踪</span> </a>
            </li> 
        </ul> 
    </div>
</nav>