<div class="ui_slider_content"> 
    <div class="content">
            <table class="table table-bordered"> 
                <tr>
                    <td>报文编号</td>
                    <td>{{ bundlesDetial.MessageCode  }}</td> 
                </tr> 
                <tr>
                    <td>共生成交易记录</td>
                    <td>{{ bundlesDetial.TradesCount  }}</td> 
                </tr>
                 <tr>
                    <td>共生成交易记录</td>
                    <td>{{ bundlesDetial.TradesCount  }}</td> 
                </tr> 
                <tr>
                    <td>居住信息记录</td>
                    <td>{{ bundlesDetial.CustomerAddressCount  }}</td> 
                </tr>
                <tr>
                    <td>工作信息记录</td>
                    <td>{{ bundlesDetial.CustomerJobsCount  }}</td> 
                </tr>
                <tr>
                    <td>担保信息记录</td>
                    <td>{{ bundlesDetial.LoanGuarantesCount  }}</td> 
                </tr>
                 <tr>
                    <td>其中结清交易记录</td>
                    <td>{{ bundlesDetial.SettleCount  }}</td> 
                </tr>
                 <tr>
                    <td>逾期交易记录</td>
                    <td>{{ bundlesDetial.PastDueCount  }}</td> 
                </tr>
                <tr>
                    <td>注销贷款记录</td>
                    <td>{{ bundlesDetial.CancelCount  }}</td> 
                </tr>
                <tr>
                    <td>当月不须还款记录</td>
                    <td>{{ bundlesDetial.NoNeedPayCount  }}</td> 
                </tr>
                
                
                 
            </table> 
    </div>
</div>
<!-- 按钮 -->
<!-- <div class="bottom">
    <span class="btn btn-primary" ng-click="runTrial()">提交 </span>
    <span ng-click="open()" class="btn btn-default">取消</span>
</div> -->